# The dashboard password
PASSWORD=test

APP_PORT=9000
LSP_PORT=9001
MCP_PORT=9002
MCP_LOG_IN_TERMINAL=true

POSTGRES_HOST=postgres
POSTGRES_NAME=jesse_db
POSTGRES_PORT=5432
POSTGRES_USERNAME=jesse_user
POSTGRES_PASSWORD=password

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Live Trade Only
LICENSE_API_TOKEN=
